.btn{
    &,
    &:link,
    &:visited {
        /*changes all of text to uppercase*/
        text-transform: uppercase;
        text-decoration: none;
        /*15 px top and bottom, 40 px left and right*/
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;

        /*position needs to be relative so that the ::after parts work of the CSS*/
        position: relative;
        font-size: $default-font-size;

        // change for the <button> element
        border: none;
        cursor: pointer;
    }

    /*when we hover over button*/
    &:hover {
        transform: translateY(-3px);

        /*.2 => transparency value

        box shadow gives button a shadow when we hover over*/
        box-shadow: 0 10px 20px rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    
    }

    /*when button is being active*/
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);

        box-shadow: 0 5px 10px rgba($color-black, .2);
    }

    /*this is for the white button*/
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    // this is for the green button
    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-white;
        }
    }



    /*"::after" - this is the after pseudo-element. treated like the child of the button.*/
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        /*z-index --> this will allow our button after feature to appear in correct order as well.*/
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;

        /*this will have the animation go after the other animation.*/
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link, 
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;

        // set display to inline block so that we can edit its margin and padding
        display: inline-block;

        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 5px 10px rgba($color-black, .2);
        transform: translateY(0);
    }
}