// partial sass file
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	/*changes box model so that borders and paddings are no longer added to the total width and total height for a box*/
	box-sizing: inherit;
}

html {
	// this defines what 1rem is
    font-size: 62.5%;
}

body {
	box-sizing: border-box;
}